In [1]:
import joblib
import pandas as pd

In [2]:
model = joblib.load("aapl.model.pkl")

In [3]:
df = pd.read_csv("last AAPL.csv")

In [4]:
df.head()

         Дата    Цена   Откр.   Макс.    Мин.    Объём Изм. %
0  23.03.2022  171,28  168,07  171,60  167,68   36,45M  1,46%
1  22.03.2022  168,82  165,51  169,42  164,91   80,94M  2,08%
2  21.03.2022  165,38  163,51  166,35  163,01   95,81M  0,85%
3  18.03.2022  163,98  160,51  164,48  159,76  123,51M  2,09%
4  17.03.2022  160,62  158,61  161,00  157,63   75,33M  0,65%

In [5]:
df = df.drop(columns=["Дата", "Изм. %", "Объём"])

In [6]:
df.head()

     Цена   Откр.   Макс.    Мин.
0  171,28  168,07  171,60  167,68
1  168,82  165,51  169,42  164,91
2  165,38  163,51  166,35  163,01
3  163,98  160,51  164,48  159,76
4  160,62  158,61  161,00  157,63

In [7]:
df = df.rename(columns={"Цена": "Close", "Откр.": "Open", "Макс.": "High", "Мин.": "Low"})

In [8]:
df.head()

    Close    Open    High     Low
0  171,28  168,07  171,60  167,68
1  168,82  165,51  169,42  164,91
2  165,38  163,51  166,35  163,01
3  163,98  160,51  164,48  159,76
4  160,62  158,61  161,00  157,63

In [9]:
label = "Close"
features = df.drop(columns=label).columns

In [10]:
for col in df.columns:
    df[col] = df[col].apply(lambda x: x.replace(",", "."))

In [11]:
df.head()

    Close    Open    High     Low
0  171.28  168.07  171.60  167.68
1  168.82  165.51  169.42  164.91
2  165.38  163.51  166.35  163.01
3  163.98  160.51  164.48  159.76
4  160.62  158.61  161.00  157.63

In [12]:
df = df.astype("float")

In [13]:
predictions = model.predict(df[features])

In [14]:
result_df = pd.DataFrame({"real_value": df["Close"], "predicted": predictions})
result_df

    real_value   predicted
0       171.28  167.483209
1       168.82  167.507178
2       165.38  164.741970
3       163.98  161.063060
4       160.62  159.519701
5       159.59  156.569403
6       155.09  152.590010
7       150.62  152.560046
8       154.73  156.111459
9       158.52  158.741527
10      162.95  160.657468
11      157.44  160.264608
12      159.30  161.371299
13      163.17  164.024834
14      166.23  167.267880
15      166.56  165.831478
16      163.20  164.429165
17      165.12  164.061460
18      164.85  162.490340
19      162.74  156.603619
20      160.07  163.529981

In [15]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [16]:
r2_score(df[label], predictions)

0.7449894135014314

In [17]:
mean_squared_error(df[label], predictions)

5.954747694936743

In [18]:
mean_absolute_error(df[label], predictions)

2.0419953812539715